body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* section-16 start */
.section-16 {
  margin-top: 97px;
}

.section-16-container {
  display: flex;
  background-color: rgba(46, 82, 53, 1);
  border-radius: 16px;
  align-items: center;
  gap: 56px;
  /* position: relative; */
  max-height: 213px;
  max-width: 1284px;
  margin: 0 auto;
}

.section-16-left {
  margin-left: 48px;
}

.section-16-left img {
  max-width: 443px;
  max-height: 245px;
  position: relative;
  top: -14px;
}

.image-stub {
  display: none;
}

.section-16-right {
  display: flex;
  flex-direction: column;
  gap: 11px;
  max-width: 385px;
  position: relative;
}

.section-16-title,
.section-16-text,
.section-16-more {
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat", sans-serif;
}

.section-16-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 46px;
}

.section-16-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  z-index: 1;
}

.section-16-more {
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 177, 61, 1);
  text-decoration: none;
}

.background-image-wrapper {
  position: relative;
  max-width: 100%;
}

.section-16-background-image {
  background-image: url(img/section16/compass-and-paper.png);
  width: 444px;
  height: 354px;
  background-repeat: no-repeat;
  position: absolute;
  top: -187px;
  right: -319px;
}

/* section-16 end */

/* section-17 start */
.section-17-container {
  max-width: 1284px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-17 {
  padding-block: 65px ;
  margin-top: 64px;
  background-image: url(img/section17/83c860883f47f4155eb5ec7a14c45e61d2328835.jpg);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-17-about {
  max-width: 605px;
  padding-left: 30px;
}

.section-17-all {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}

.section-17-title {
  max-width: 486px;
  color: #FFF;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 42px;
  padding-left: 68px;
}

.section-17-text {
  max-width: 537px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  padding-left: 68px;
}

.section-17-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: #FFB13D;
  text-decoration: none;
}

 .section-17-btn-mobile {
    display: none;
  }

.section-17-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 510px;
}

.section-17-card {
  padding-top: 33px;
  padding-left: 29px;
  width: 232px;
  height: 194px;
  background-color: #2e5235e8;
  border-radius: 16px;
}

.section-17-number {
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #FFB13D;
}

.section-17-numbers {
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  color: #FFB13D;
}

.section-17-text-card {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  width: 191px;
  vertical-align: top;
}
/* section-17 end */

@media screen and (max-width: 1256px) {
  /* section-16 start */
  .section-16-container {
    border-radius: 0;
  }

  .section-16-background-image {
    right: -199px;
  }
  /* section-16 end */
}

@media screen and (max-width: 1200px) {
  /* section-16 start */

  .section-16 {
    position: relative;
  }

  .section-16-container {
    overflow: hidden;
  }

  .section-16-left {
    margin: 0;
  }

  .image-stub {
    width: 443px;
    height: 245px;
    display: block;
    visibility: hidden;
  }

  .section-16-left img {
    position: absolute;
    top: -32px;
  }

  /* section-16 end */
}

@media screen and (max-width: 1130px) {
    /* section-17 start */
  .section-17-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    padding: 0;
    margin: 0;
  }

  .section-17-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    padding: 0; 
  }

  .section-17-about {
    padding: 0;
    max-width: 342px;
  }

  .section-17-btn {
    font-weight: 600;
    font-size: 13px;
    line-height: 40px;
  }

  .section-17-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 370px;
  }

  .section-17-card {
    padding-top: 25px;
    padding-left: 21px;
    width: 168px;
    height: 145.5px;
    border-radius: 12px;
  }

  .section-17-number {
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
  }

  .section-17-numbers {
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;

  }

  .section-17-text-card {
    font-weight: 600;
    font-size: 12px;
    line-height: 16.5px;
    width: 138px;
    vertical-align: top;
  }

  .section-17-all {
     display: flex;
    justify-content: space-between;
    align-self: flex-start;
    margin: 0;
  }
  /* section-17 end */
}

@media screen and (max-width: 900px) {
  /* section-16 start */
  .section-16-container {
    gap: 0px;
    max-height: 184px;
  }
  .section-16-left img {
    max-width: 378px;
    max-height: 210px;
    top: -27px;
  }

  .section-16-right {
    transform: translateX(-50px);
  }

  .section-16-title {
    font-size: 20px;
  }

  .section-16-text {
    font-size: 13px;
    max-width: 301px;
  }

  .section-16-more {
    font-size: 13px;
  }
  /* section-16 end */
}
@media screen and (max-width: 745px) {
  /* section-16 start */

  .section-16-container {
    flex-direction: column;
    max-height: 375px;
    /* max-width: 375px; */
    text-align: center;
    overflow: visible;
    gap: 0px;
  }

  .image-stub {
    display: none;
  }

  .section-16-left img {
    max-width: 354px;
    max-height: 194px;
    top: -28px;
    position: relative;
  }

  .section-16-right {
    gap: 16px;
    transform: translate(0);
  }

  .section-16-background-image {
    display: none;
  }
  .section-16-title {
    font-size: 24px;
  }

  .section-16-text {
    font-size: 13px;
  }

  .section-16-more {
    font-size: 16px;
    margin-bottom: 23px;
  }
  /* section-16 end */

  /* section-17 start */
  .section-17-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    padding: 0;
    margin: 0;
  }

  .section-17-about {
    padding: 0;
    max-width: 342px;
  }

  .section-17-btn {
    display: none;
  }

  .section-17-btn-mobile {
    display: block;
  }

  .section-17-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    max-width: 363px;
    margin-top: 26px;
  }

  .section-17-card {
    padding-top: 24px;
    padding-left: 20px;
    width: 162px;
    height: 140px;
    border-radius: 12px;
    margin: 0 auto;
  }

  .section-17-text-card {
    font-weight: 600;
    font-size: 12px;
    line-height: 16.5px;
    width: 135px;
    vertical-align: top;
  }

  .section-17-all {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .section-17 {
    background-position-x: -210px;
  }
  /* section-17 end */
}
